<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        fieldset {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin: 20px 0;
        }

        input {
            width: 100%;
            margin: 10px 0;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid rgb(229, 228, 228);
            border-radius: 5px;
        }

        .item-info {
            width: 25%;
            border-radius: 10px 10px 10px 10px;
            padding: 20px;
            height: 100%;
            word-spacing: 2px;
            line-height: 1.5em;
        }

        .home {
        text-align: center;
        font-size: large;
        border-bottom: 2px solid black;
        padding-bottom: 10px;
        padding-top: 10px;
}

.edit {
    color: #eefbfb;
    text-decoration: none
}

.allLinks{
    text-decoration: none;
    margin: 40px;
    color: #12232e;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease 0s;
}
.allLinks:hover {
    color: #0088a9;
}
    </style>
</head>
<body>
    <nav class="home">
        <a class="allLinks" href="/writes">Home</a>
        <a class="allLinks" href="/writes/new">Sell</a>
        <a class="allLinks" href="/reviews">Reviews</a>
    </nav>
    <h1>Edit Item</h1>
    
    <form action="/writes/<%=write._id%>?_method=PUT" method="POST">
        <fieldset class="item-info">
    Name: <input type="text" name="name" value="<%=write.name%>" placeholder="id">
    Description: <input type="text" name="description" value="<%=write.description%>" placeholder="id">
    Image: <input type="text" name="img" value="<%=write.img%>" placeholder="id">
    Price: <input type="number" name="price" value="<%=write.price%>" placeholder="id">
    Quantity: <input type="number" name="quantity" value="<%=write.quantity%>" placeholder="id">
    <input type="submit" value="Save Changes">
</fieldset>
</form>

</body>
</html>