<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/public/css/style.css"> -->
    <style>
        body {
            background-color:  #e5eafa;
        }
        .pic img {
            width: 800px;
            height: 800px;
            position: absolute
        }

      

        .info {
            background-color: #12232e;
            width: 50%;
            height: 100%;
            padding: 10px;
            position: relative;
            color: #eefbfb;
            font-size: 25px;
        }
        p {
            color: #eefbfb;
            
            
        }

        .container {
            text-align: center;
        }

        .info {
            width: 50%;
            border-radius: 10px 10px 10px 10px;
            padding: 20px;
            height: 100%;
            float: right;
            word-spacing: 2px;
            line-height: 1.5em;
        }

        h1 {
            margin-left: 10em;
        }

         .home {
            padding: 5px;
            margin-top: 10px;
        }

        .btn {
            font-size: 20px;
            border: 2px solid black;
            border-radius: 5px;
        }
        button {
            /* border: 3px solid black; */
            border: 2px;
            
        }

        .btn:hover {
            color: white;
            background-color: #4CAF50;
            transition: 0.3s;
            cursor: pointer;
        }
        .btn:active {
            background-color: black;
        }
        .price {
            font-weight: bolder;
            text-decoration:  underline whitesmoke;
        }

        .home {
        text-align: center;
        font-size: large;
        border-bottom: 2px solid black;
        padding-bottom: 10px;
        padding-top: 10px;
}

.edit {
    color: #eefbfb;
    text-decoration: none
}

.allLinks{
    text-decoration: none;
    margin: 40px;
    color: #12232e;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease 0s;
}
.allLinks:hover {
    color: #0088a9;
}
    </style>
    <title>Document</title>
</head>
<body>
    <nav class="home">
        <a class="allLinks" href="/writes">Home</a>
        <a class="allLinks" href="/reviews">Reviews</a>
    </nav>
    <!-- <div class="container"> -->
    <h1><%=write.name %></h1>
    <br />
    <div class="pic">
    <img src="<%=write.img %>">
</div>
    <div class="info">
        <p class="item"> Description: <hr>
            <%= write.description%> 
        </p>  <hr>

    <h4 class="price">Price: $<%= write.price%></h4> 
    Quantity: 
    <% if (write.qty <= 0) { %>
        <p>OUT OF STOCK</p>
    <% } else { %>
        <%= write.qty %>
    <% } %> <br/>
    <br/>
    <form action="/writes/<%=write._id%>/buy" method="POST">
        <button type="submit" class="btn btn-outline-dark" value="Buy">ADD TO BAG</button>
    </form>
    <br/>

    <a href="/reviews"><button>Write Review?</button></a>
    <form action="/writes/<%= write.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>
    <a class="edit" href="/writes/<%=write._id %>/edit">Edit</a>
    
   
  

</div>
</div>
</div>
</body>
</html>